
html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  margin: 0 auto;
  background: white;
  max-width: 1400px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
}

a {
    color: #3d2087;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

.dropdown i {
    padding-right: 14px;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 14px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
  display: block;
  padding: 14px 22px 14px 14px !important;
  background-color: #f9f9f9;
}

.dropdown:hover #top {
    background-color: #adadad;
    color: black;
}
.dropdown-content a:hover {background-color: #ddd !important;}
.dropdown:hover .dropdown-content {display: block;}


/* new code */
/* Add a background color to the top navigation */
.topnav {
    background-color: lightgray;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-weight:bold;
  color: #377ba8;
  text-align: left;
  padding: 14px 14px 14px 14px;
  text-decoration: none;
  font-size: 18px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #adadad;
  color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
    padding: 6px 6px 6px 6px;
    margin: 0;
}
.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}
.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}


.content form input[type=text]{
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.content label {
  font-weight: bold;
  margin-top: 0.1em;
}

.content input, .content textarea {
  margin-bottom: 1em;
  max-width: 400px;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    font-size:18px;
}

select{
  align-self: start;
  max-width: 10em
}

th {
  text-align: left
}


pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 1em;
    max-width: 100%;
    overflow: auto;
    padding: 0.75em 1em;
    display: block;
    word-wrap: break-word;
}

.inline-block {
    display: inline-block;
}
#images {
    display: block;
}


.leaderboard td {
    font-size: 12px;
}

.leaderboard th {
    font-size: 12px;
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 36px;
}

#chem_form {
    max-width:500px !important;
}

.chem_text {
    font-family: "Lucida Console", Monaco, monospace;
    max-width:500px !important;
    margin-right:20px !important;
}


.chart {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:1200px;
}

.dashboard {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sci_table_div {
    max-width:800px;
}

#sci_repo_table_wrapper {
    max-width:1000px;
}

#auto_table_div {
    max-width:600px;
}

/* Formats the horizontal nav bar as used for the dashboard */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: #377ba8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to grey on hover */
li a:hover {
  background-color: lightgray;
}

.active {
  background-color: #f1f1f1;
}

/* If the page title is a link, keep it formatted as a title, not a link */
h1 a {
  font-family: serif;
  color: #377ba8;
  text-decoration: none;

}


/* toggle switch goes here */
.switch {
    position: relative;
    display: block;
    vertical-align: top;
    width: 130px;
    height: 30px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing:content-box;
}
.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing:content-box;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #199fe2;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing:content-box;
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    opacity: 0;
}
.switch-input:checked ~ .switch-label {
    background: #E1B42B;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}
.switch-handle {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
    left: 104px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}
