
html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  margin: 0 auto;
  background: white;
  max-width: 1400px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

a {
    color: #3d2087;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

/* new code */
/* Add a black background color to the top navigation */
.topnav {
    background-color: lightgray;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-weight:bold;
  float: left;
  color: #377ba8;
  text-align: center;
  padding: 14px 16px 14px 14px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #adadad;
  color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
    padding: 0;
    margin: 0;
}
.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}
.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}


.content form input[type=text]{
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  max-width: 200px;  
}

.content label {
  font-weight: bold;
  margin-top: 0.1em;
}

.content input, .content textarea {
  margin-bottom: 1em;
  max-width: 400px;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

select{
  align-self: start;
  max-width: 10em
}

th {
  text-align: left
}


pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 1em;
    max-width: 100%;
    overflow: auto;
    padding: 0.75em 1em;
    display: block;
    word-wrap: break-word;
}

.inline-block {
    display: inline-block;
}
#images {
    display: block;
}


.leaderboard td {
    font-size: 12px;
}

.leaderboard th {
    font-size: 12px;
}

.auto_table {
    max-width:600px;
}

.ml_table {
    max-width:800px;
}
