# todo: don't include this file in merge commit- figure out how to rationalize with a separate ES setup script or include in requirements-app

elasticsearch-dsl
elasticsearch>=7.7.0
certifi>=2017.1.23
requests[security]
ujson
ray==0.8.7
tqdm>=4.28.1