{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Crank Administration{% endblock %}</h1>

<script type="text/javascript">
  function myFunction() {
  var x = document.getElementById("chem_instructions");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  }
</script>
{% endblock %}

 {% block content %}

<h2>Crank records</h2>
<form method="post" action="/admin/update_active_cranks">
  <div style="max-width:800px;">
  <table id="crank_table" class="compact hover order-column row-border" style="width:100%;">
    <thead>
   <tr>
     <th>Crank </th>
     <th>Git commit </th>     
     <th>Number Runs</th>
     <th>Uploader </th>
     <th>Upload </th>
     <th>Timestamp </th>     
     <th>Active / Inactive</th>     
   </tr>
    </thead>
    <tbody>
  {% for r in cranks %}
   <tr>
     <td>{{ r['crank'] }}</td>
     <td>{{ r['githash'] }}</td>    
     <td>{{ r['num_runs'] }}</td>        
     <td>{{ r['username'] }}</td>
     <td>{{ r['upload_filename'] }}</td>     
     <td>{{ r['created'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
     <td data-order="{{ r['active'] }}">
       <input type="radio" name="{{ r['id']}}" value="active" {% if r['active'] %} checked="checked"{% endif %}>
       <input type="radio" name="{{ r['id']}}" value="not_active" {% if not r['active']  %} checked="checked"{% endif %}>
     </td>         
   </tr>
   {% endfor %}
    </tbody>   
  </table>
  
<script>
$(document).ready(function() {
$('#crank_table').DataTable( {
        "order": [[ 0, "desc" ]],
  }
  );
  } );

</script>
  
  
  <label for="adminkey">Admin code</label>  
  <input type="text" name="adminkey" required>
  
  <input type="submit" value="Update active cranks" name="submit">
  </div>
</form>

<h2>Upload new stateset csv </h2>
 
<pre>python3 escalation/submit_server/scripts/upload_stateset.py</pre>
</form>  

<h2>Chemical Database</h2>

<button onclick="myFunction()" style="border:none; background-color:#f1f1f1; font-size:16px; margin-bottom:16px;">Show Instructions<i class="fa fa-caret-down"></i></button>
<div id="chem_instructions" style="margin-bottom:50px; display:none; background:#f1f1f1">
  <p>Step 1: export the google inventory list as a tab-separated file.</p>
  <img src="/static/tsv_download.png" width="600px" style="margin-left:50px">
  <p>Step 2. upload the set of chemicals to the submission server. This will overwrite any existing INCHI entry.</p>
  <div style="margin-left:50px">
    <p><em>Note the backslashes to handle whitespace!</em></p>
    <pre>python3 scripts/upload_chemicals.py --tsv ~/Downloads/Chemical\ Inventory\ -\ Chemicals.tsv</pre>
  </div>
</div>
<div style="max-width:1000px">
  <table id="chem_table">
    <thead>
      <th>INCHI key</th>
      <th>Chemical Name</th>
      <th>Abbreviation</th>
    </thead>
    <tbody>
      {% for chem in chem_table %}
      <tr>
        <td> {{ chem['inchi'] }}</td>
        <td> {{ chem['common_name'] }}</td>
        <td> {{ chem['abbrev'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<script>
$(document).ready(function() {
$('#chem_table').DataTable( {
   "order": [[ 0, "desc" ]],
   "columns": [
     { "width": "40%" },
     { "width": "30%" },
     { "width": "30%" },
   ],
  }
  );
  } );

</script>
</div>
 <h2>Development commands for database</h2>
 <form method="post" action="/admin/update_database">
  <label>
    <input type="radio" name="db" value="reset">Clear DB
  </label>

  <label for="adminkey">Admin code</label>  
  <input type="text" name="adminkey" required>
  
  <input type="submit" value="Update Database" name="submit"  >
 </form>

 <p><a href="https://gitlab.sd2e.org/sd2program/versioned-datasets">Versioned Data Repo</a></p> 
 <p><a href="https://gitlab.sd2e.org/sd2program/test-harness/tree/master/harness">Test Harness Repository</a></p>
 <p><a href="http://jenkins.sd2e.org/job/versioned_data_pipeline">Jenkins Versioned Data</a></p>

{% endblock %}
