<!doctype html>
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142434773-1"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142434773-1');
</script>
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">  
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
  <script  src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

  <title>{% block title %}{% endblock %} - ESCALATion</title>
</head>
<div class="topnav">
  <img src="/static/Escalate_B-04.png" width="180" alt="logo">
  <div class="topnav-right">
    <a href="{{ url_for('view.view') }}">View</a>
    <a href="{{ url_for('submission.submission') }}">Submit</a>   
    <a href="{{ url_for('admin.admin') }}">Admin</a>
  <div class="dropdown">
    <a id="top">Dashboard
      <i class="fa fa-caret-down"></i>
    </a>
    <div class="dropdown-content">
      <a href="{{ url_for('dashboard.dashboard_science') }}">Science</a>
      <a href="{{ url_for('dashboard.dashboard_automation') }}">Automation</a>
      <a href="{{ url_for('dashboard.dashboard_ml') }}">ML</a>
    </div>
  </div>
  
    
  </div>
</div>

<section class="content">
  

  
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">
    {% autoescape false %}
    {{message}}
    {% endautoescape %}    
    </div>
  {% endfor %}
  {% block content %}
  {% endblock %}
</section>
