<!doctype html>
<title>{% block title %}{% endblock %} - ESCALATion</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>ESCALATion submission server</h1>
    <h4> <a class="action" href="{{ url_for('submission.upload') }}">Upload </a> </h4>
    <h4> <a class="action" href="{{ url_for('submission.upload') }}">Download template</a> </h4>  
    <h4> <a class="action" href="{{ url_for('view.view') }}">View latest</a>  </h4>
    <h4> <a class="action" href="{{ url_for('submission.upload') }}">Admin</a> </h4>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">
    {% autoescape false %}
    {{message}}
    {% endautoescape %}    
    </div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
