<!doctype html>
<title>{% block title %}{% endblock %} - ESCALATion</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<div class="topnav">
  <img src="/static/Escalate_B-04.png" width="180px">
  <div class="topnav-right">
    <a href="{{ url_for('view.view') }}">View</a>
    <a href="{{ url_for('submission.submission') }}">Submit</a>   
    <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
    <a href="{{ url_for('admin.admin') }}">Admin</a>     
  </div>
</div>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
  <div class="flash">
    {% autoescape false %}
    {{message}}
    {% endautoescape %}    
    </div>
  {% endfor %}
  {% block content %}
  {% endblock %}
</section>
