{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
  <meta http-equiv="refresh" content="60">
  <form method="post">
    <h1>Science</h1>
    {{ science_table }}

    <div id="images">
      <div class="inline-block">    
        <img src="/static/demo0.png" width="250px">
      </div>
      <div class="inline-block">
        <img src="/static/demo1.png" width="250px">
      </div>
    </div>
    <h1>Automation</h1>
    {{ auto_table }}    

    <h1>Machine Learning</h1>

    <a href="{{ url_for('leaderboard.leaderboard') }}">View full leaderboard</a>
    
    {{ ml_table }}
    
    <h3>Top {{ top_n }} Most Likely Runs</h3>
    {{ top_table }}    

    <div id="images">
      <div class="inline-block">    
        <img src="/static/demo3.png" width="250px">
      </div>
      <div class="inline-block">
        <img src="/static/demo2.png" width="250px">
      </div>
    </div>
    <input type="submit" value="Refresh" name="update">
  </form>

  
  
{% endblock %}
