{% extends 'base.html' %}

{% block header %}

<script src="{{ url_for('static', filename='percentbar.js') }}"></script>
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<h1><a href="{{ url_for('dashboard.dashboard') }}">{% block title %}Dashboard{% endblock title %}</a></h1>

{% endblock header %}

{% block content %}

    <!--Dashboard navigation-->
    <ul class="navlist">
        <li><a href="{{ url_for('dashboard.dashboard_science') }}">Science</a></li>
        <li><a href="{{ url_for('dashboard.dashboard_automation') }}">Automation</a></li>
        <li class="active"><a href="{{ url_for('dashboard.dashboard_ml') }}">ML</a></li>
    </ul>

    
    <form method="post">
      <label class="switch">
        {% if use_loo is sameas true %}        
        <input class="switch-input" onclick="this.form.submit();" type="checkbox" name="use_loo" checked />
        {% else %}
        <input class="switch-input" onclick="this.form.submit();" type="checkbox" name="use_loo" />
        {% endif %}
        <span class="switch-label" data-on="leave-one-out" data-off="k-fold"></span>
        <span class="switch-handle"></span>
      </label>
      
    </form>
    {% if use_loo is sameas true %}
    <h2>Leave-One-Out Performance</h2>
    <p>Metrics computed by training a separate model on all but one amine and testing on the heldout amine. Results are averaged, stratified by amine.</p>
    {% else %}
    <h2>K-fold Performance</h2>
    <p>Metrics computed by randomly holding out 20% of the reactions across all amines.</p>
    {% endif %}
    <div id="results_by_model" class="chart" style="max-width:1000px; max-height:600px;"></div>
    <script type="text/javascript">
        var graph = {{results_by_model | safe}};
        Plotly.newPlot("results_by_model",graph.data,graph.layout, {responsive: true});


    </script>

    <div id="f1_by_model" class="chart" style="max-width:1000px;"></div>
    <script type="text/javascript">
        var graph = {{ f1_by_model | safe}};
        Plotly.newPlot("f1_by_model",graph.data,graph.layout, {responsive: true});


    </script>
    <div id="results_by_crank" class="chart" style="max-width:1000px;"></div>
    <script type="text/javascript">
        var graph = {{results_by_crank | safe}};
        Plotly.newPlot("results_by_crank",graph.data,graph.layout, {responsive: true});


    </script>

    <div id="results_by_crank" class="chart" style="max-width:1000px;"></div>
    <script type="text/javascript">
        var graph = {{results_by_crank | safe}};
        Plotly.newPlot("results_by_crank",graph.data,graph.layout, {responsive: true});


    </script>


    <h3>Leaderboard summary</h3>

    <a href="{{ url_for('leaderboard.leaderboard') }}">View full leaderboard</a>
    <table id="leaderboard_table" class="compact hover order-column row-border" style="width:100%">
        <thead>
        <th>Dataset</th>
        <th>Name</th>
        <th>Author</th>
        <th>AUC</th>
        <th>F1 score</th>
        <th>Precision</th>
        <th>Recall</th>
        </thead>
        <tbody>
        {% for r in leaderboard %}
        <tr>
            <td> {{ r['dataset_name'] }}</td>
            <td> {{ r['model_name'] }}</td>
            <td> {{ r['model_author'] }}</td>
            <td> {{ r['auc_score'] }}</td>
            <td> {{ r['f1_score'] }}</td>
            <td> {{ r['precision'] }}</td>
            <td> {{ r['recall'] }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
        $('#leaderboard_table').DataTable( {
        "order": [[ 0, "desc" ]],
        }
        );
        } );


    </script>

    <h3>Training Data Statistics</h3>
    <div class="ml_table">
        <table id="ml_table" class="compact hover order-column row-border" style="width:100%; max-width:800px;">
            <thead>
            <th>Crank</th>
            <th>Upload Date</th>
            <th>Training Samples</th>
            <th>Training Mean</th>
            <th>Predicted Mean</th>
            </thead>
            <tbody>
            {% for r in ml_table %}
            <tr>
                <td> {{ r['crank'] }}</td>
                <td> {{ r['upload_date'] }}</td>
                <td> {{ r['num_train_rows'] }}</td>
                <td> {{ r['train_mean'] }}</td>
                <td> {{ r['pred_mean'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <script>
          $(document).ready(function() {
          $('#ml_table').DataTable( {
          "order": [[ 0, "desc" ]],
          }
          );
          } );



        </script>

    </div>
{% endblock content %}
