{% extends 'base.html' %}

{% block header %}

<script src="{{ url_for('static', filename='percentbar.js') }}"></script>
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script type="text/javascript">
  function sci_details() {
  var x = document.getElementById("sci_details");
  if (x.style.display === "none") {
  x.style.display = "block";
  sessionStorage.setItem("expand_sci",true);  
  } else {
    x.style.display = "none";
    sessionStorage.removeItem("expand_sci");    
  }
  }
  function auto_details() {
  var x = document.getElementById("auto_details");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  }
  function ml_details() {
  var x = document.getElementById("ml_details");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  }

window.onload = function() {
  var expand_sci = sessionStorage.getItem("expand_sci");
  var expand_auto = sessionStorage.getItem("expand_auto");
  var expand_ml = sessionStorage.getItem("expand_ml");  
    if (expand_sci) {
        sessionStorage.removeItem("expand_sci");
        sci_details()
    }
    if (expand_ml) {
        sessionStorage.removeItem("expand_ml");
        ml_details()
    }
    if (expand_auto) {
        sessionStorage.removeItem("expand_auto");
        auto_details()
    }

  
}  
</script>


<h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<a name="science">
  <h2>Science</h2>
  <div class="dashboard">
    <a name="science.success_by_amine"></a>    
    <div id="success_by_amine" class="chart" style="max-width:1000px; max-height:500px;"></div>
    <script type="text/javascript">
      var graph = {{success_by_amine | safe}};
      Plotly.newPlot("success_by_amine",graph.data,graph.layout, {responsive: true});        
    </script>
  </div> 

<button onclick="sci_details()" style="border:none; background-color:#008CBA; font-size:16px; margin-bottom:16px; color: white;">More Information<i class="fa fa-caret-down"></i></button>

<div id="sci_details" style="margin-bottom:50px; display:none;">
  
  <!-- Datatables amine overview -->
  <a name="science.sci_table"></a>
  <h3>Success Rate by Amine</h3>  
  <div class="dashboard" id="sci_table_div">
    <table id="sci_table" class="compact hover order-column row-border" style="width:100%">
      <thead>
        <th>Amine</th>
        <th>Success</th>      
        <th>Total</th>
        <th>Success Rate</th>      
      </thead>
      <tbody>
        {% for r in sci_table %}
        <tr>
          <td> {{ r['amine'] }} </td>
          <td> {{ r['success'] }} </td>
          <td> {{ r['total'] }} </td>
          <td> {{ r['ratio'] }} </td>                    
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <script>
      $(document).ready(function() {
      $('#sci_table').DataTable( {
      order: [[ 3, "desc" ]],
      columnDefs: [ {      render: $.fn.dataTable.render.percentBar(), targets: [3] } ],}
      );
      }
      );
    </script>
  </div> <!-- end amine overview -->

  <a name="science.features"></a>
  <div id="sci_features">
    <h3>Predictive Features</h3>
    <p>Informative features are determined by estimating a <a href="https://machinelearningmastery.com/gentle-introduction-gradient-boosting-algorithm-machine-learning/">Gradient Boosted Tree</a> either 10 times on sampling randomly across all chemicals, or by holding out each chemical. Importance is computed as the average improvement in classification purity across the boosted trees as explained <a href="https://stats.stackexchange.com/questions/162162/relative-variable-importance-for-boosting">here</a>.
    </p>

    <div id="feature_importance_xgboost" class="chart"></div>
    <script type="text/javascript">
      var graph = {{feature_importance | safe}};
      Plotly.newPlot("feature_importance_xgboost", graph['xgboost-importance'].data, graph['xgboost-importance'].layout, {responsive: true});
    </script>

    <div id="feature_importance_shap" class="chart"></div>
    <script type="text/javascript">
      var graph = {{feature_importance | safe}};
      Plotly.newPlot("feature_importance_shap", graph['shap'].data, graph['shap'].layout, {responsive: true});
    </script>

    <div id="feature_importance_bba" class="chart"></div>
    <script type="text/javascript">
      var graph = {{feature_importance | safe}};
      Plotly.newPlot("feature_importance_bba", graph['bba'].data, graph['bba'].layout, {responsive: true});
    </script>

  </div> <!-- end science features -->

  <a name="science.scatter_plot"></a>  
  <div id="3d_rxn_scatter">
    <h3>Crystal Score and Experiments in Reaction Space</h3>    
    <p>Each sphere is sized by the number of experiments run in a region of reaction space. The color represents the average crystal score for all chemicals in that region. Varying the resolution will group the experiments into larger or smaller spheres. You can also filter by a particular chemical.</p>
  
    <form method="post" action="{{ url_for('dashboard.dashboard') }}#science.scatter_plot">
      <p>Select Chemical <select name="inchikey" onchange="this.form.submit()"> </p>
      <option value="all" {% if curr_inchikey == "all" %} selected="selected" {% endif %}>All</option>
      {% for chem in chemicals %}
      <option value="{{ chem.inchi }}" {% if curr_inchikey == chem.inchi %} selected="selected"> {% endif %}>{{ chem.common_name }}</option>
      {% endfor %}
      </select>
      <noscript><input type="submit" value="Filter on Chemical"></noscript>
    </form>
    
    <div id="rxn_3d_scatter" class="chart" style="max-width:1000px;"></div>
    <script type="text/javascript">
      var graph = {{rxn_3d_scatter | safe}};
      Plotly.newPlot("rxn_3d_scatter",graph.data,graph.layout, {responsive: true});        
    </script>
  </div> <!-- end 3d rxn scatter -->
  
  <!-- Datatables Reproducible clusters -->
  <a name="science.repo_table"></a> 
  <div class="dashboard">
    <h3>Experimental Reproducibility</h3>    
    <p>We first cluster experiments into groups that fall within the same window of organic, inorganic, acid and temperature values (which you can change by varying the <b>Cluster Width</b> below). For each cluster, we then compute the mean crystal score and reproducibility of cluster. Reproducibility is defined as the number of experiment crystal scores that agree with the most common crystal score in that bin (so bins of size 1 have 100% reproducibility by definition).</p>
    <form method="post" action="{{ url_for('dashboard.dashboard') }}#science.repo_table">
      <p>Select Chemical
        <select name="inchikey_repo">
          <option value="all" {% if exp_repo_stats['inchi'] == "all" %} selected="selected" {% endif %}>All</option>
          {% for chem in chemicals %}
          <option value="{{ chem.inchi }}" {% if exp_repo_stats['inchi'] == chem.inchi %} selected="selected" {% endif %}>{{chem.common_name}}</option>
          {% endfor %}
        </select> &nbsp;
        Select Cluster Width <select name="prec_repo">
          <option value="0.1"  {% if exp_repo_stats['prec'] == 0.1  %} selected="selected" {% endif %}>0.1</option>
          <option value="0.25" {% if exp_repo_stats['prec'] == 0.25 %} selected="selected" {% endif %}>0.25</option>
          <option value="0.5"  {% if exp_repo_stats['prec'] == 0.5  %} selected="selected" {% endif %}>0.5</option>
          <option value="1"    {% if exp_repo_stats['prec'] == 1    %} selected="selected" {% endif %}>1</option>      
        </select>  &nbsp;
        <input type="submit" value="Update Table" name="repo_update">
      </p>      
    </form>
    <p> {{exp_repo_stats['size']}} clusters computed with bin width {{exp_repo_stats['prec']}} over {{exp_repo_stats['expts']}} experiments. The mean crystal score is {{exp_repo_stats['score']}} and the mean purity within each cluster is {{exp_repo_stats['purity']}}.</p>

    <div class="dashboard" id="sci_repo_table_wrapper">
      <table id="repo_table" class="compact hover order-column row-border" style="width:100%">
        <thead>
          <th>Inorganic Rxn</th>
          <th>Organic Rxn</th>
          <th>Acid Rxn</th>
          <th>Temperature</th>      
          <th>Num. of Expts.</th>
          <th>Avg. Crystal Score</th>
          <th>Reproducibility</th>      
        </thead>
        <tbody>
          {% for r in repo_table %}
          <tr>
            <td> {{ r['inorganic'] }} </td>
            <td> {{ r['organic'] }} </td>
            <td> {{ r['acid'] }} </td>                    
            <td> {{ r['temp'] }} </td>
            <td> {{ r['size'] }} </td>
            <td> {{ r['score'] }} </td>
            <td> {{ r['repo'] }} </td>        
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <script>
        $(document).ready(function() {
        $('#repo_table').DataTable( {
        order: [[ 6, "desc" ]],
        columnDefs: [ {      render: $.fn.dataTable.render.percentBar(), targets: [6] },
                      {       render: $.fn.dataTable.render.scoreBar(), targets: [5] },
         ],
        }
        );
        } );
      </script>
    </div> <!-- end repo table -->
  </div> <!-- end repo wrapper -->      
</div> <!-- end repo section -->
</div>  <!-- end science section -->


<a name="auto"></a>
<h2>Automation</h2>
<div id="runs_by_crank" class="chart" style="max-width:1000px; max-height:500px;"></div>
<script type="text/javascript">
  var graph = {{runs_by_crank | safe}};
  Plotly.newPlot("runs_by_crank",graph.data,graph.layout, {responsive: true});        
</script>

<button onclick="auto_details()" style="border:none; background-color:#008CBA; color:white; font-size:16px; margin-bottom:16px;">More Information<i class="fa fa-caret-down"></i></button>
<div id="auto_details" style="margin-bottom:50px; display:none;">

<div id="runs_by_month" class="chart" style="max-width:1000px; max-height:500px;"></div>
<script type="text/javascript">
  var graph = {{runs_by_month | safe}};
  Plotly.newPlot("runs_by_month",graph.data,graph.layout, {responsive: true});

  var myPlot = document.getElementById('runs_by_month')

  myPlot.on('plotly_hover', function(data){
    var pn='',
        tn='';
  for(var i=0; i < data.points.length; i++){
      pn = data.points[i].pointNumber;
      tn = data.points[i].curveNumber;
    };
  var update = {'marker':{'color': '#a55942','line':{'color':'#000000','width':1}}};
  Plotly.restyle(myPlot, update, [tn]);
 })

 .on('plotly_unhover', function(data){
   tn=data.points[0].yaxis._traceIndices
   var update = {'marker':{'color': '#5eabdb','line':{'color':'#000000','width':1}}};
   Plotly.restyle(myPlot, update, tn);
});                    

  
</script>

<!-- Datatables uploads per crank -->
  <div id="uploads_by_crank" class="chart" style="max-width:1000px; max-height:400px;"></div>
  <script type="text/javascript">
    var graph = {{uploads_by_crank | safe}};
    Plotly.newPlot("uploads_by_crank",graph.data,graph.layout, {responsive: true});        
  </script>

<!-- Datatables uploads per crank -->  
<div class="dashboard" id="auto_table_div">
  
  <table id="auto_table" class="compact hover order-column row-border" style="width:100%;">
    <thead>
      <th>Crank</th>
      <th>Upload Date</th>
      <th>Number of Runs</th>
      <th>Number of Submissions</th>
    </thead>
    <tbody>
      {% for r in auto_table %}
      <tr>
        <td> {{ r['crank'] }} </td>
        <td> {{ r['upload_date'] }} </td>
        <td> {{ r['num_runs'] }} </td>                    
        <td> {{ r['num_uploads'] }} </td>                    
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <script>
    $(document).ready(function() {
    $('#auto_table').DataTable( {
    "order": [[ 0, "desc" ]],
    }
    );
    } );
  </script>
</div>
</div>
<a name="ml"></a>
<h2>Machine Learning</h2>

<!-- Datatables uploads per crank -->
  <div id="results_by_model" class="chart" style="max-width:1000px; max-height:400px;"></div>
  <script type="text/javascript">
    var graph = {{results_by_model | safe}};
    Plotly.newPlot("results_by_model",graph.data,graph.layout, {responsive: true});        
  </script>
</div>

<button onclick="ml_details()" style="border:none; background-color:#008CBA;  color: white; font-size:16px; margin-bottom:16px;">More Information<i class="fa fa-caret-down"></i></button>
<div id="ml_details" style="margin-bottom:50px; display:none;">

  <div id="f1_by_model" class="chart" style="max-width:1000px;"></div>
  <script type="text/javascript">
    var graph = {{ f1_by_model | safe}};
    Plotly.newPlot("f1_by_model",graph.data,graph.layout, {responsive: true});        
  </script>

  <div id="results_by_crank" class="chart" style="max-width:1000px;"></div>
  <script type="text/javascript">
    var graph = {{results_by_crank | safe}};
    Plotly.newPlot("results_by_crank",graph.data,graph.layout, {responsive: true});        
  </script>

  <div id="results_by_crank" class="chart" style="max-width:1000px;"></div>
  <script type="text/javascript">
    var graph = {{results_by_crank | safe}};
    Plotly.newPlot("results_by_crank",graph.data,graph.layout, {responsive: true});        
  </script>
  
  
  <h3>Leaderboard summary</h3>

  <a href="{{ url_for('leaderboard.leaderboard') }}">View full leaderboard</a>
  <table id="leaderboard_table" class="compact hover order-column row-border" style="width:100%">
    <thead>
      <th>Dataset</th>      
      <th>Name</th>      
      <th>Author</th>
      <th>AUC</th>
      <th>F1 score</th>
      <th>Precision</th>
      <th>Recall</th>      
    </thead>
    <tbody>
      {% for r in leaderboard %}
      <tr>
        <td> {{ r['dataset_name'] }} </td>      
        <td> {{ r['model_name'] }} </td>      
        <td> {{ r['model_author'] }} </td>
        <td> {{ r['auc_score'] }} </td>
        <td> {{ r['f1_score'] }} </td>
        <td> {{ r['precision'] }} </td>
        <td> {{ r['recall'] }} </td>      
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <script>
    $(document).ready(function() {
    $('#leaderboard_table').DataTable( {
    "order": [[ 0, "desc" ]],
    }
    );
    } );
  </script>
  
  <h3>Training Data Statistics</h3>
  <div class="ml_table">
    <table id="ml_table" class="compact hover order-column row-border" style="width:100%; max-width:800px;">
      <thead>
        <th>Crank</th>
        <th>Upload Date</th>
        <th>Training Samples</th>        
        <th>Training Mean</th>
        <th>Predicted Mean</th>        
      </thead>
      <tbody>
        {% for r in ml_table %}
        <tr>
          <td> {{ r['crank'] }} </td>
          <td> {{ r['upload_date'] }} </td>
          <td> {{ r['num_train_rows'] }} </td>                    
          <td> {{ r['train_mean'] }} </td>
          <td> {{ r['pred_mean'] }} </td>                              
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <script>
      $(document).ready(function() {
      $('#ml_table').DataTable( {
      "order": [[ 0, "desc" ]],
      }
      );
      } );
      
    </script>
    
  </div>
</div>
  <form method="post">
    <input type="submit" value="Refresh" name="update">
  </form>


{% endblock %}
