{% extends 'base.html' %}

{% block header %}

<script src="{{ url_for('static', filename='percentbar.js') }}"></script>
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<h1>{% block title %}Machine Learning Dashboard{% endblock title %}</h1>

{% endblock header %}

{% block content %}


    <!-- Datatables uploads per crank -->
    <div id="results_by_model" class="chart" style="max-width:1000px; max-height:400px;"></div>
    <script type="text/javascript">
        var graph = {{results_by_model | safe}};
        Plotly.newPlot("results_by_model",graph.data,graph.layout, {responsive: true});


    </script>

    <div id="f1_by_model" class="chart" style="max-width:1000px;"></div>
    <script type="text/javascript">
        var graph = {{ f1_by_model | safe}};
        Plotly.newPlot("f1_by_model",graph.data,graph.layout, {responsive: true});


    </script>

    <div id="results_by_crank" class="chart" style="max-width:1000px;"></div>
    <script type="text/javascript">
        var graph = {{results_by_crank | safe}};
        Plotly.newPlot("results_by_crank",graph.data,graph.layout, {responsive: true});


    </script>

    <div id="results_by_crank" class="chart" style="max-width:1000px;"></div>
    <script type="text/javascript">
        var graph = {{results_by_crank | safe}};
        Plotly.newPlot("results_by_crank",graph.data,graph.layout, {responsive: true});


    </script>


    <h3>Leaderboard summary</h3>

    <a href="{{ url_for('leaderboard.leaderboard') }}">View full leaderboard</a>
    <table id="leaderboard_table" class="compact hover order-column row-border" style="width:100%">
        <thead>
        <th>Dataset</th>
        <th>Name</th>
        <th>Author</th>
        <th>AUC</th>
        <th>F1 score</th>
        <th>Precision</th>
        <th>Recall</th>
        </thead>
        <tbody>
        {% for r in leaderboard %}
        <tr>
            <td> {{ r['dataset_name'] }}</td>
            <td> {{ r['model_name'] }}</td>
            <td> {{ r['model_author'] }}</td>
            <td> {{ r['auc_score'] }}</td>
            <td> {{ r['f1_score'] }}</td>
            <td> {{ r['precision'] }}</td>
            <td> {{ r['recall'] }}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready(function() {
        $('#leaderboard_table').DataTable( {
        "order": [[ 0, "desc" ]],
        }
        );
        } );


    </script>

    <h3>Training Data Statistics</h3>
    <div class="ml_table">
        <table id="ml_table" class="compact hover order-column row-border" style="width:100%; max-width:800px;">
            <thead>
            <th>Crank</th>
            <th>Upload Date</th>
            <th>Training Samples</th>
            <th>Training Mean</th>
            <th>Predicted Mean</th>
            </thead>
            <tbody>
            {% for r in ml_table %}
            <tr>
                <td> {{ r['crank'] }}</td>
                <td> {{ r['upload_date'] }}</td>
                <td> {{ r['num_train_rows'] }}</td>
                <td> {{ r['train_mean'] }}</td>
                <td> {{ r['pred_mean'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <script>
          $(document).ready(function() {
          $('#ml_table').DataTable( {
          "order": [[ 0, "desc" ]],
          }
          );
          } );



        </script>

    </div>
    <form method="post">
            <input type="submit" value="Refresh" name="update">
    </form>
{% endblock content %}
