{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Submissions{% endblock %}</h1>

<script language="javascript">
function checkAll(ele) {
     var checkboxes = document.getElementsByTagName('input');
     if (ele.checked) {
         for (var i = 0; i < checkboxes.length; i++) {
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = true;
             }
         }
     } else {
         for (var i = 0; i < checkboxes.length; i++) {
             console.log(i)
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = false;
             }
         }
     }

      }
</script>
{% endblock %}

  {% block content %}
<div style="max-width:1000px;">
<form method="post">
  <label for="crank">Select specific crank</label>
  <select name="crank">
    <option value="all">All</option>
    {% for crank in cranks %}
    <option value="{{ crank }}">{{ crank }} </option>
    {% endfor %}
  </select>
  <input type="submit" value="Select">
</form>


<form method="post">
  <table  id="submission_table" class="compact hover order-column row-border" style="width:100%">
  <thead>
  <tr>
    <th><input type="checkbox" onchange="checkAll(this)" name="chk[]" checked/> </th>
    <th>Crank</th>    
    <th>User Name</th>
    <th>Name</th>
    <th>Versioned Repo Hash</th>        
    <th>Timestamp</th>                
    <th>Notes</th>
  </tr>
  </thead>
  <tbody>
{% for sub in submissions %}
  <tr>
    <td> <input type="checkbox" name="download" value="{{ sub['id'] }}" checked>
    <td> {{ sub['crank'] }} </td>  
    <td> {{ sub['username'] }} </td>
    <td> {{ sub['expname'] }} </td>
    <td> {{ sub['githash'] }} </td>    
    <td> {{ sub['created'].strftime('%m-%d-%y %H:%M') }} </td>
    <td> {{ sub['notes'][:50] + "..." }} </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>

  <script type="text/javascript">
	
$(document).ready(function() {
$('#submission_table').DataTable( {
        "order": [[ 5, "desc" ]],
"columnDefs": [
    { "orderable": false, "targets": 0 }
  ]
}
);
} );
	</script>
  
  <input type="hidden" value="{{ crank }}" name="crank">
  <input type="submit" value="Download files">
  <script type="text/javascript">
    function uncheckAll() {
    $("input[type='checkbox']:checked").prop("checked", false)
    }
    $(':button').on('click', uncheckAll)
  </script>
  <input type='button' value="clear" />
</form>  
</div>
{% endblock %}
