{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}ML Leaderboard{% endblock %}</h1>

<script language="javascript">

  function deleteConfSubmit(form) {

  if (confirm("Are you sure you want to delete leadeboard entries?")) {
  form.submit();
 }
}

function checkAll(ele) {
     var checkboxes = document.getElementsByTagName('input');
     if (ele.checked) {
         for (var i = 0; i < checkboxes.length; i++) {
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = true;
             }
         }
     } else {
         for (var i = 0; i < checkboxes.length; i++) {
             console.log(i)
             if (checkboxes[i].type == 'checkbox') {
                 checkboxes[i].checked = false;
             }
         }
     }

      }
</script>

{% endblock %}

{% block content %}
  <div class="leaderboard">
    <form method="post">    
      <table id="leaderboard_table" class="compact hover order-column row-border" style="width:100%; max-width:1400px">
    <thead>
      <th><input type="checkbox" onchange="checkAll(this)" name="chk[]" /> </th>      
      <th>Posted</th>            
      <th>Name</th>      
      <th>Dataset</th>
      <th>Author</th>
      <th>Accuracy</th>
      <th>Balanced Accuracy</th>
      <th>AUC</th>
      <th>Avg. Precision</th>
      <th>F1 score</th>
      <th>Precision</th>
      <th>Recall</th>      
      <th>Samples in train</th>
      <th>Samples in test</th>
      <th>Run ID</th>      
      <th>Description</th>
      <th>LOO group id</th>
      <th>LOO InchiKey</th>
    </thead>
    <tbody>
    {% for r in table %}
    <tr>
      <td> <input type="checkbox" name="delete" value="{{ r['id'] }}" >      
      <td> {{ r['created'] }} </td>            
      <td> {{ r['model_name'] }} </td>      
      <td> {{ r['dataset_name'] }} </td>
      <td> {{ r['model_author'] }} </td>
      <td> {{ r['accuracy'] }} </td>
      <td> {{ r['balanced_accuracy'] }} </td>
      <td> {{ r['auc_score'] }} </td>
      <td> {{ r['average_precision'] }} </td>
      <td> {{ r['f1_score'] }} </td>
      <td> {{ r['precision'] }} </td>
      <td> {{ r['recall'] }} </td>      
      <td> {{ r['samples_in_train'] }} </td>
      <td> {{ r['samples_in_test'] }} </td>
      <td> {{ r['run_id'] }} </td>
      <td> {{ r['model_description'] }} </td>
      <td> {{ r['leave_one_out_id'] }}</td>
      <td> {{ r['test_group'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
      </table>
      <div style="float:right">
        <input type="submit" value="Delete" onClick="deleteConfSubmit(this.form);" name="submit" style="color:red">      
        <label for="adminkey" style="display:flex">Admin code required for deletion</label>  
        <input type="text" name="adminkey">
    </div>
      
</form>    

<script>
$(document).ready(function() {
$('#leaderboard_table').DataTable( {
        "order": [[ 0, "desc" ]],
  }
  );
  } );

</script>
</div>

<form method="post">
  <input type="submit" value="Download CSV" name="submit">
</form>
{% endblock %}
