
{% extends 'base.html' %}


{% block header %}
<h1>{% block title %}Upload CSV{% endblock %}</h1>

<script type="text/javascript">
  function myFunction() {
  var x = document.getElementById("instructions");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  }
</script>

{% endblock %}

  {% block content %}

  <h3>Current cranks: {{ curr_cranks }}</h3>

  <div id="instructions" style="margin-bottom:50px; display:none; background:#f1f1f1">
    <p>
      
  </div>
  <form method="post" enctype="multipart/form-data">

    {% if 'crank' in session %}
    <label for="crank">Crank</label>
    <input type="text" name="crank" maxlength="4" value="{{ session['crank'] }}" required>
    
    <label for="username">Username</label>
    <input type="text" name="username" value="{{ session['username'] }}" required>

    <label for="expname">Experiment Name</label>
    <input type="text" name="expname" value="{{ session['expname'] }}" required>

    <label for="githash">Versioned data githash</label>
    <input type="text" name="githash" value="{{ session['githash'] }}" required>
    
    <label for="csvfile">CSV file</label>
    <input type="file" name="csvfile" accept="csv" required>

    
    <label for="notes">Notes</label>    
    <textarea placeholder="Enter notes about your submission" name="notes" rows="10" cols="30" value="{{ session['notes'] }}" ></textarea>

    {% else %}
    <label for="crank">Crank</label>
    <input type="text" name="crank" maxlength="4" required>
    
    <label for="username">Username</label>
    <input type="text" name="username" required>

    <label for="expname">Experiment Name</label>
    <input type="text" name="expname" required>

    <label for="githash">Versioned data 7-char git hash</label>
    <input type="text" name="githash" required>
    
    <label for="csvfile">CSV file</label>
    <input type="file" name="csvfile" accept="csv" required>

    <label for="notes">Notes</label>    
    <textarea placeholder="Enter notes about your submission" name="notes" rows="10" cols="30"></textarea>
    
    {% endif %}
   <input type="submit" value="Submit">    
  </form>
{% endblock %}
