
{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Upload CSV{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">

    {% if 'crank' in session %}
    <label for="crank">Crank</label>
    <input type="text" name="crank" maxlength="4" value="{{ session['crank'] }}" required>
    
    <label for="username">Username</label>
    <input type="text" name="username" value="{{ session['username'] }}" required>

    <label for="expname">Experiment Name</label>
    <input type="text" name="expname" value="{{ session['expname'] }}" required>
    
    <label for="csvfile">CSV file</label>
    <input type="file" name="csvfile" accept="csv" required>

    <label for="notes">Notes</label>    
    <textarea placeholder="Enter notes about your submission" name="notes" rows="10" cols="30" value="{{ session['notes'] }}" ></textarea>

    {% else %}
    <label for="crank">Crank</label>
    <input type="text" name="crank" maxlength="4" required>
    
    <label for="username">Username</label>
    <input type="text" name="username" required>

    <label for="expname">Experiment Name</label>
    <input type="text" name="expname" required>
    
    <label for="csvfile">CSV file</label>
    <input type="file" name="csvfile" accept="csv" required>

    <label for="notes">Notes</label>    
    <textarea placeholder="Enter notes about your submission" name="notes" rows="10" cols="30"></textarea>
    
    {% endif %}
   <input type="submit" value="Submit">    
  </form>
{% endblock %}
